{% extends "base.html" %}

{% block content %}
  <div>
    <form action="/add-article" method="post" flex flex-col gap-4>
      <div flex flex-col>
        <label font-bold for="Title">Название</label>
        <input input name="Title" id="Title">
      </div flex flex-col>
      <div flex flex-col>
        <label font-bold for="Subject">Тематика</label>
        <input input name="Subject" id="Subject">
      </div flex flex-col>
      <div flex flex-col>
        <label font-bold for="NewKeyword">Добавить ключевое слово</label>
        <div flex>
          <input input w-full name="NewKeyword" id="NewKeyword" me-1>
          <button button ms-1 w-fit id="AddNewKeywordButton" type="button">
            Добавить
          </button>
        </div>
        <label font-bold for="Keywords">Ключевые слова:</label>
        <div id="KeywordsContainer" flex flex-row space-x-3 mt-2></div>
      </div flex flex-col>
      <div flex flex-col>
        <label font-bold for="Annotation">Аннотация</label>
        <input input name="Annotation" id="Annotation">
      </div flex flex-col>
      <div flex flex-col>
        <label font-bold for="YearOfPublication">Год публикации</label>
        <input input type="number" name="YearOfPublication" id="YearOfPublication">
      </div flex flex-col>
      <div flex flex-col>
        <label font-bold for="SourceLink">Ссылка на источник</label>
        <input input name="SourceLink" id="SourceLink">
      </div>
      <div flex justify-end>
        <input button type="submit" value="Опубликовать">
      </div>
      {% if Error %}<div flex color-red>{{ Error }}</div>{% endif %}
    </form>
  </div>
{% endblock content %}
{% block extra_script %}
  <script>
  const KeywordsContainer = document.getElementById("KeywordsContainer")
  const KeywordInput = document.getElementById("NewKeyword")
  const AddNewKeywordButton = document.getElementById("AddNewKeywordButton")

  AddNewKeywordButton.addEventListener("click", (e) => {
    let keywordCheckbox = document.createElement('input')
    keywordCheckbox.setAttribute("type", "hidden")
    keywordCheckbox.setAttribute("value", KeywordInput.value)
    keywordCheckbox.setAttribute("id", KeywordInput.value)
    keywordCheckbox.setAttribute("name", "Keywords[]")

    let keywordLabel = document.createElement('label')
    let keywordLabelText = document.createTextNode(KeywordInput.value)
    keywordLabel.append(keywordLabelText)
    keywordLabel.setAttribute("for", KeywordInput.value)
    keywordLabel.setAttribute("chip", "")
    keywordLabel.setAttribute("w-fit", "")

    KeywordsContainer.append(keywordLabel)
    KeywordsContainer.append(keywordCheckbox)
    KeywordInput.value = ""
  })
  </script>
{% endblock extra_script %}
