{% extends "base.html" %}

{% block content %}
  <div font-bold text-xl>Публикации:</div>
  {% if User %}
    <a button block font-bold href="/add-article">Опубликовать статью</a>
  {% endif %}
  <div grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4>
    {% for Article in Articles %}
      <div card>
        <div text-lg font-bold>{{ Article.Title }}</div>
        <div>
          <span font-bold>Тематика:</span> {{ Article.Subject }}
        </div>
        <div>
          <span font-bold>Аннотация:</span> {{ Article.Annotation }}
        </div>
        <div>
          <span font-bold>Год публикации:</span> {{ Article.YearOfPublication }}
        </div>
        <div flex flex-wrap items-center>
          <span font-bold>Ключевые слова:</span>
          <div flex flex-wrap items-center ms-2 space-y-2 space-x-2>
            {% for Keyword in Article.Keywords %}<div chip>{{ Keyword }}</div>{% endfor %}
          </div>
        </div>
        <div flex justify-end space-x-3 mt-3>
          <a href="/articles/{{ Article.Id }}" link target="_blank">Публикации автора</a>
          <a href="{{ Article.SourceLink }}" link target="_blank">Источник</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
{% block aside %}
  <div flex flex-col gap-4 pa-2>
    <div text-lg font-bold>Фильтры:</div>
    <form action="/" method="get" flex flex-col>
      <label font-bold for="Title">Название статьи</label>
      <input input
             bg-background
             name="Title"
             id="Title"
             {% if Filters.Title %}value="{{ Filters.Title }}"{% endif %} />
      <div flex justify-end>
        <input button bg-background mt-1 px-2 py-1 type="submit" value="Применить" />
      </div>
    </form>
    <form action="/" method="get" flex flex-col>
      <label font-bold for="FullName">Фио автора</label>
      <input input
             bg-background
             name="FullName"
             id="FullName"
             {% if Filters.FullName %}value="{{ Filters.FullName }}"{% endif %} />
      <div flex justify-end>
        <input button bg-background mt-1 px-2 py-1 type="submit" value="Применить" />
      </div>
    </form>
    <form action="/" method="get" flex flex-col>
      <p font-bold m-0>Ключевые слова</p>
      <div grid grid-cols-2>
        {% for Keyword in AviableKeywords %}
          <div flex w-fit space-x-2>
            <label for="{{ Keyword }}">{{ Keyword }}</label>
            <input type="checkbox"
                   name="Keywords[]"
                   value="{{ Keyword }}"
                   id="{{ Keyword }}"
                   {% if Keyword in Filters.Keywords %}checked="true"{% endif %} />
          </div>
        {% endfor %}
      </div>
      <div flex justify-end>
        <input button bg-background mt-1 px-2 py-1 type="submit" value="Применить" />
      </div>
    </form>
    <form action="/" method="get" flex flex-col>
      <label font-bold for="Subject">Тематика</label>
      <input input
             bg-background
             name="Subject"
             id="Subject"
             {% if Filters.Subject %}value="{{ Filters.Subject }}"{% endif %} />
      <div flex justify-end>
        <input button bg-background mt-1 px-2 py-1 type="submit" value="Применить" />
      </div>
    </form>
    <form action="/" method="get" flex flex-col>
      <label font-bold for="YearOfPublication">Год публикации</label>
      <input input
             bg-background
             type="number"
             name="YearOfPublication"
             id="YearOfPublication"
             {% if Filters.YearOfPublication %}value="{{ Filters.YearOfPublication }}"{% endif %} />
      <div flex justify-end>
        <input button bg-background mt-1 px-2 py-1 type="submit" value="Применить" />
      </div>
    </form>
    <form action="/" method="get" flex flex-col>
      <div flex justify-end>
        <input button bg-background mt-1 type="submit" value="Сбросить" />
      </div>
    </form>
  </div>
{% endblock aside %}
