{% extends "base.html" %}

{% block content %}
  <div font-bold text-xl>Мой профиль:</div>
  <div grid grid-cols-2 gap-4 mt-4>
    <div font-bold>Имя:</div>
    <div>{{ User.FirstName }}</div>
    <div font-bold>Фамилия:</div>
    <div>{{ User.LastName }}</div>
    <div font-bold>Отчество:</div>
    <div>{{ User.Patronymic }}</div>
    <div font-bold>Место работы:</div>
    <div>{{ User.Job }}</div>
    <div font-bold>Email:</div>
    <div>{{ User.Email }}</div>
  </div>
  <div font-bold text-xl  mt-4>Мои публикации:</div>
  <div grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4>
    {% for Article in Articles %}
      <div card>
        <div text-lg font-bold>{{ Article.Title }}</div>
        <div>
          <span font-bold>Тематика:</span> {{ Article.Subject }}
        </div>
        <div>
          <span font-bold>Аннотация:</span> {{ Article.Annotation }}
        </div>
        <div>
          <span font-bold>Год публикации:</span> {{ Article.YearOfPublication }}
        </div>
        <div flex flex-wrap items-center>
          <span font-bold>Ключевые слова:</span>
          <div flex flex-wrap items-center ms-2 space-y-2 space-x-2>
            {% for Keyword in Article.Keywords %}<div chip>{{ Keyword }}</div>{% endfor %}
          </div>
        </div>
        <div flex justify-end mt-3 space-x-3>
          <a href="{{ Article.SourceLink }}" link target="_blank">Источник</a>
          <form action="/delete-article/{{ Article.Id }}" method="post">
            <input cursor-pointer link bg-red type="submit" value="Удалить">
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
