{% extends "base.html" %}

{% block content %}
  <div>
    <form action="/registration" method="post" flex flex-col gap-4>
      <div flex flex-col>
        <label font-bold for="LastName">Фамилия</label>
        <input input name="LastName" id="LastName">
      </div flex flex-col>
      <div flex flex-col>
        <label font-bold for="FirstName">Имя</label>
        <input input name="FirstName" id="FirstName">
      </div flex flex-col>
      <div flex flex-col>
        <label font-bold for="Patronymic">Отчество</label>
        <input input name="Patronymic" id="Patronymic">
      </div flex flex-col>
      <div flex flex-col>
        <label font-bold for="Job">Место работы</label>
        <input input name="Job" id="Job">
      </div flex flex-col>
      <div flex flex-col>
        <label font-bold for="Email">Email</label>
        <input input type="email" name="Email" id="Email">
      </div flex flex-col>
      <div flex flex-col>
        <label font-bold for="Password">Пароль</label>
        <input input type="password" name="Password" id="Password">
      </div>
      <div flex justify-end>
        <input button type="submit" value="Зарегистрироваться">
      </div>
      {% if Error %}<div flex color-red>{{ Error }}</div>{% endif %}
    </form>
  </div>
{% endblock content %}
