{{template "base" .}}

{{define "title"}}Регистрация{{end}}

{{define "main"}}
<h1>Регистрация</h1>
<form action="/registration" method="POST" flex flex-col gap-4>
  <div flex flex-col>
    <label for="LastName">Фамилия</label>
    <input name="LastName" id="LastName">
  </div flex flex-col>
  <div flex flex-col>
    <label for="FirstName">Имя</label>
    <input name="FirstName" id="FirstName">
  </div flex flex-col>
  <div flex flex-col>
    <label for="Patronymic">Отчество</label>
    <input name="Patronymic" id="Patronymic">
  </div flex flex-col>
  <div flex flex-col>
    <label for="Job">Место работы</label>
    <input name="Job" id="Job">
  </div flex flex-col>
  <div flex flex-col>
    <label for="Email">Email</label>
    <input type="email" name="Email" id="Email">
  </div flex flex-col>
  <div flex flex-col>
    <label for="Password">Пароль</label>
    <input type="password" name="Password" id="Password">
  </div>
  <div flex justify-end>
    <input type="submit" value="Зарегистрироваться">
  </div>
</form>
{{end}}
